body{
    font-family: 'montserrat',sans-serif;
    margin: 0px;
    overflow: hidden;
    background-color: black;
    color: white;

}
.main{
    display: flex;
    height: 100vh;
    padding: .5rem;
}
.sidebar{
    background-color:rgba(47, 79, 79, 0.205);
    width: 340px;
    border-radius: 1rem;
    margin-right: .5rem;
}
.maincontent{
    background-color: rgba(0, 0, 0, 0);
    flex: 1;
     border-radius: 1rem;
     overflow:auto;
     padding: 0 1.5rem 0 1.5rem ;
}
.musicplayer{
    background-color: rgb(132, 188, 226);
    height: 72px;
    width: 100%;
    bottom: 0px;
    position: fixed;
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    height: 100px;
    display: flex;
    padding: .5rem 0.75rem;
    background-color: rgba(47, 79, 79, 0.253);
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.navoption i{
    font-size: 1rem;
}
.navoption a{
    font-size: .75rem;
}
.navoption:hover{
    opacity: 1;
}
.navoption{
    line-height: 2.25rem;
    opacity: .7rem;

}
.library{
  
    background-color :rgba(211, 211, 211, 0);
    margin: 5px;
    height: 100%;;
    border-radius: 5px;
   
 
    padding: .5rem 0.75rem;
    
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.liboptions img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons{
    font-size: 1.25rem;
    display: flex;
}
.icons i{
    margin-right: 1rem;
    opacity: .7rem;
}

.icons i:hover{
    opacity: 1rem;
}
.box{
    height: 8rem;
    background-color: rgba(211, 211, 211, 0.055);
    border-radius: 1rem;
    justify-content: center;
    margin: .5rem 0.5rem 0;
    padding: 1rem 1.25rem;
    align-items: center;
}
.boxp1{
    font-size: 1rem;
    font-weight: 700;
    color: white;

}
.boxp2{
    font-size: .75rem;
    color:white;
    font-family: 300;
}
.badge{
    background-color:white;
    border-radius: 100px;
    padding: .25rem 1rem;
    font-weight: 700;
    color: black;
    margin-top: .5rem;

}

.stickynav{
    display: flex;
    position: sticky;
    top: 0;
    background-color: rgba(169, 169, 169, 0.192);
    justify-content: space-between;
}
.stickynavoption1{
    margin-top: 5px;
}
.stickynavoption2{
    margin-bottom: 12px;

}
.stickynavoption1 img{
    height: 2rem;
} 

.badge1{
  
     background-color:black;
    border-radius: 100px;
    padding: .25rem 1rem;
    font-weight: 700;
    color:white;
    margin-top: .5rem;

}

.badge1 i{
    padding-right: 5px;
    margin-right: 5px;
}

@media(max-width:1000px){
    hide{
        display: none;
    }
}

.cards{
    
   background-color: darkslategray;
   border-radius: .5rem;
   width: 220px;
   padding: 1rem;
   margin: 20px;



}
.cardcontainer{
    background-color: rgba(47, 79, 79, 0.158);
    width: 150px;
    border-radius: .5rem;
    padding: 1rem;
    margin: 10px;

    
   
   

}
.cardimg{
     width: 100%;
     border-radius: .5rem;
     align-items: center;


}

.cardtitle{
    font-weight: 600;
    
}

.cardinformation{
    font-size: .6rem;
    opacity:.5;
}

.footer{
    height: 200px;
    width: 100%;
}

.musicplayer{
    display: flex;
}

.album{
    width: 25%;
}
.player{
    width: 50%;
}
.control{
    width: 25%;
}
